<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1 th:text="${locale}"/>
        <table>
            <tr>
                <th>Model</th>
                <th>Colour</th>
                <th>Series</th>
            </tr>
            <tr th:each="car, rowStat: ${cars}">
                <td><span th:text="${car.model}"> Model </span></td>
                <td><span th:text="${car.colour}"> Colour </span></td>
                <td><span th:text="${car.series}"> Series </span></td>
            </tr>
        </table>
</body>
</html>